.container {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    background: rgb(250, 243, 243);
    background: radial-gradient(circle, rgba(250, 243, 243, 1) 0%, rgba(250, 243, 243, 1) 100%);
}

.kotak {
    width: 800px;
    height: 720px;
    padding: 25px;
    background: white;
    position: fixed;
    top: 35%;
    left: 48%;
    bottom: 50%;
    right: 50%;
    border-radius: 20px;
    margin-top: -200px;
    margin-left: -378px;
    border: black solid 2px;
    background: rgb(250, 243, 243);
    background: radial-gradient(circle, rgba(250, 243, 243, 1) 0%, rgba(250, 243, 243, 1) 100%);
}

body {
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
}

#header {
    background: rgb(167, 187, 199);
    background: radial-gradient(circle, rgba(167, 187, 199, 1) 0%, rgba(167, 187, 199, 1) 100%);

}

#form {
    position: relative;
    top: 80px;
    left: 530px;

}

#tombol {
    position: fixed;
    top: 730px;
    left: 710px;

}